@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 25px;
  border: 4px solid #181818;
  margin: 4px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  width: 50px;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  width: 10px;
}

.cc-button {
  content: "";
  height: 2rem;
  width: 8rem;
  display: flex;
  border-radius: 9999px;
  align-self: flex-end;
  margin-top: auto;
  filter: blur(0.5rem);
  background: linear-gradient(
    var(--gradient-angle),
    #745d09,
    #a0821e,
    #ffd42a,
    #a0821e,
    #745d09
  );
  animation: rotation 10s linear infinite;
}

.button {
  content: "";
  height: 2rem;
  width: 8rem;
  display: flex;
  border-radius: 9999px;
  align-self: flex-end;
  margin-top: auto;
  filter: blur(0.5rem);
  background: linear-gradient(
    var(--gradient-angle),
    #580974,
    #7f1ea0,
    #b42aff,
    #7f1ea0,
    #580974
  );
  animation: rotation 10s linear infinite;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
